* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #222;
    line-height: 1.6;
}


:root {
    --primary: #004aad;
    --accent: orangered;
}

hr {
    border: none;
    border-top: 2px solid #f4f4f4;
}

header {
    background: var(--primary);
    color: white;
    padding: 1rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s ease;
}

nav a:hover {
    opacity: 0.7;
}



#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f4f4f4;
}

.hero-text h2 {
    font-size: 5rem;
    margin-left: 40px; 
}

.hero-text h1 {
    font-size: 5rem;
    font-weight: bold;
    color: var(--accent);
    margin-left: 40px;

    animation: colorChange 3s infinite alternate;
}


.hero-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 45px;
}


@keyframes colorChange {
    from { color: var(--accent); }
    to { color: #ff824a; }
}



#about h2 {
    font-size: 3rem;
    margin-left: 40px;
}



#about p {
    text-align: left;
    max-width: 900px;
    margin: 30px;
}



#skills h2{
    font-size: 3rem;
    text-align: center;
}

.skills-grid {
    margin: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.skill-card {
    background: var(--primary);
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
    opacity: 0.9;
}



#projects h2 {
    font-size: 3rem;
    text-align: center;
}

.projects-grid {
    margin: 2rem auto; 
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem;
    justify-items: center;
}

#projects h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}
#projects .project-card {
    width: 100%;
}

#projects p {
    text-align: center;
    font-size: 1rem;
}

.project-card {
    background: white;
    border-radius: 10px;
    border: 1.5px solid #ddd;
    padding: 4rem;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
    transform: scale(1.02);
    border-color: var(--primary);
}



#contact{
    background: #f4f4f4;
    padding: 2rem 0;;
}

#contact h2 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

form {
    background-color: white;
    max-width: 550px;
    padding: 2.5rem;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    gap: 1rem;
}

form input,
form textarea {
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid var(--primary);
    font-size: 1rem;
}

form button {
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    background: var(--primary);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #003b88;
}



footer {
    margin: 3rem 0 0;
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin: 10px 0 80px 0;
}

#back-to-top {
    color: white;
    background-color: var(--primary);
    text-decoration: none;
    padding: 5px;
    text-align: center;
    transition: 0.3s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back-to-top:hover {
    opacity: 0.7;
}



@media (max-width: 900px) {

    #hero {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }
}